:root {
    --primary-color: #388c92;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #292922;
}

*{
    font-family: 'Raleway', sans-serif;
}

[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 1em;
    font-size: 10px;
    color: var(--font-color);
    background-color: var(--bg-color);
}

#logo{
    height: auto;
    padding-top: 30px;
    grid-row: 1/2;
    grid-column: 2/3;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

#dark-mode{
    font-size: 1.5em;
    height: 50%;
    grid-row: 1/2;
    grid-column: 3/4; 
    position: -webkit-sticky;
    position: sticky;
    top: 30px;

}
.theme-switch-wrapper {
    display: flex;
    align-items: center;
  }

  .theme-switch-wrapper em {
    margin-left: 10px;
    font-size: 1rem;
    }

  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }
  
  input:checked + .slider {
    background-color: #66bb6a;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

#nav{
    color: var(--primary-color);
    text-align: end;
    height: 50px;
    grid-row: 1/2;
    grid-column: 1/2;
    position: -webkit-sticky;
    position: sticky;
    top: 300px; 
}

#body{
    grid-row: 2/3;
    grid-column: 2/3;
    padding-left: 1em;
    border-left: 1px solid;
    border-color: #c1c1c1;
}

#contact{
    grid-row: 3/4;
    grid-column: 2/3;
    text-align: center;
    vertical-align: bottom;
}

#copyright{
    grid-row: 4/5;
    grid-column: 2/3;
    text-align: center
}

.profile-pic{
    display: block;
    height: auto;
    max-height: 50vh;
    width: 100%;
    max-width: 70vh;
    margin-left: auto;
    margin-right: auto;
}

.pictures{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image{
    width: 100%;
    height: auto;
    max-height: 70vh;
}

#caption{
    font-size: 1.25vh;
    text-align: center;
}

#projects{
    display: block;
   
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projectnode {
    font-size: 1.25vh;
    line-height: 200px;
    align-items: center;
    text-align: center;
    height: 200px;
    width: 220px;
    max-width: 40vh;
    margin: 15px;
    border: 1px solid;
    border-color: #c1c1c1;
    border-radius: 25px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.projectnode:hover {
    transition: .5s ease;
    background-color: var(--primary-color); opacity: 0.7;
    border: 1px solid;
}

h1 {
    color: var(--primary-color);
    font-size: 7vh;
    text-decoration: line-through;
    letter-spacing: 5px;
    text-align: center;
    vertical-align: middle;
    font-family: 'League Spartan', sans-serif;
}

h2 {
    font-size: 2vh;
    font-weight:bold;
    text-align: center;
}

h3 {
    font-size: 1.75vh;
    text-align: center;
}

p {
    font-size: 1.75vh;
    text-align: center;
}

a {
    color: var(--font-color);
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:active {
    color: var(--primary-color);
    text-decoration: line-through;
}

a:hover {
    color: var(--primary-color);
}

img {
    border-radius: 15px;
}

/* @media screen and (max-width: 600px) {
    .image{
        height: 10%;
    }
} */